# EXOS ALGORYTHMIQUE TRAINING

## Exercice 1
> - **A l'aide de numpy.random.rand(N) créer N nombres aléatoires d'une distribution uniforme**
> - **Faire une fonction (à la main) qui trouve le max et/ou le min de la séquence de valeur (idée parcourir la table et comparer les valeurs 1 à 1 et mettre dans une variable temporaire le maximum**

In [2]:
from numpy import random

In [12]:
# 1/Création de N nombres aléatoires d'une distribution uniforme

N = random.rand(15)
N

array([0.03288154, 0.72724988, 0.59721987, 0.42262571, 0.16406783,
       0.44007418, 0.24633167, 0.29441093, 0.93550344, 0.49913763,
       0.76655953, 0.07561397, 0.6289017 , 0.25994584, 0.62734874])

In [13]:
# 2/Création de la fonction :
# 2.1/Convertir N en une liste

num_list = N.tolist()
num_list

[0.03288153718618758,
 0.7272498798199334,
 0.5972198749836679,
 0.42262571470182697,
 0.16406783060605323,
 0.44007417597765985,
 0.24633166624088731,
 0.2944109251214395,
 0.9355034401710077,
 0.4991376317915144,
 0.7665595263605185,
 0.07561396543982568,
 0.628901698176072,
 0.2599458386232364,
 0.6273487402600447]

In [18]:
# 2.2/Créer la fonction

def fonct_max():
    for i in num_list:
        maximum = max(num_list)
        return maximum

In [20]:
# Application

fonct_max()

0.9355034401710077

## Exercice 2
> **Refaire le même exercice avec des échantillons Gaussiens**

In [22]:
# 1/Création de N nombres aléatoires d'une distribution normale (échantillons Gaussiens)

N = random.randn(20)
N

array([ 1.27680878,  0.08217247, -0.76655666, -0.02044947, -0.77810279,
       -0.68714198, -2.07862595, -0.14356361, -0.29548026, -0.96886251,
        0.18713086,  1.67188038, -0.63036865,  0.02805204,  0.90785109,
        0.7645932 ,  0.2696514 ,  0.12482744,  0.30294469, -1.88716704])

In [24]:
# 2/Création de la fonction :
# 2.1/Convertir N en une liste

num_list = N.tolist()
num_list

[1.2768087827247132,
 0.08217247473859886,
 -0.7665566586228759,
 -0.020449473323847025,
 -0.778102790867106,
 -0.6871419790097355,
 -2.07862594662833,
 -0.14356361285782082,
 -0.29548026471739147,
 -0.9688625104706151,
 0.1871308566638226,
 1.6718803790966796,
 -0.6303686473395052,
 0.028052038685453667,
 0.9078510935857655,
 0.7645932036423913,
 0.26965140365279233,
 0.1248274397090326,
 0.30294468675733754,
 -1.887167043617759]

In [26]:
# 2.2/Créer la fonction

def fonct_min():
    for i in num_list:
        minimum = min(num_list)
        return minimum

In [27]:
fonct_min()

-2.07862594662833

## Exercice 3
> **Réussir à classer une séquence en ordre croissant puis décroissant**

In [41]:
# 1/Convertir num_list en Dataframe

import pandas as pd

num_list_df = pd.DataFrame(num_list)
num_list_df

           0
0  -2.078626
1  -1.887167
2  -0.968863
3  -0.778103
4  -0.766557
5  -0.687142
6  -0.630369
7  -0.295480
8  -0.143564
9  -0.020449
10  0.028052
11  0.082172
12  0.124827
13  0.187131
14  0.269651
15  0.302945
16  0.764593
17  0.907851
18  1.276809
19  1.671880

In [50]:
# Classement par ordre croissant 

num_list_df.sort_values([0], ascending = True)

           0
0  -2.078626
1  -1.887167
2  -0.968863
3  -0.778103
4  -0.766557
5  -0.687142
6  -0.630369
7  -0.295480
8  -0.143564
9  -0.020449
10  0.028052
11  0.082172
12  0.124827
13  0.187131
14  0.269651
15  0.302945
16  0.764593
17  0.907851
18  1.276809
19  1.671880

In [51]:
# Classement par orde décroissant

num_list_df.sort_values([0], ascending = False)

           0
19  1.671880
18  1.276809
17  0.907851
16  0.764593
15  0.302945
14  0.269651
13  0.187131
12  0.124827
11  0.082172
10  0.028052
9  -0.020449
8  -0.143564
7  -0.295480
6  -0.630369
5  -0.687142
4  -0.766557
3  -0.778103
2  -0.968863
1  -1.887167
0  -2.078626

## Exercice 4
> **A l'aide de boucle for, calculer quelques série mathématiques connu et comparer le résultat à la théorie Sum 1/n^2 , Sum n etc...**