# 4. LA BOUCLE FOR

## 1. Le contexte d'utilisation
> **Principe :** Imaginez qu'on souhaite afficher les éléments de la liste ci-dessous l'un après l'autre

In [2]:
animaux = ["girafe", "tigre", "singe", "souris"]

In [5]:
print(animaux[0])
print(animaux[1])
print(animaux[2])
print(animaux[3])

girafe
tigre
singe
souris

> Mais imaginez que la liste en contienne 100 voire 1000 ! => fastidieux !!! Pour remédier à cela, il faut utiliser les boucles

In [1]:
animaux = ["girafe", "tigre", "singe", "souris"]
for animal in animaux:
    print(animal)

girafe
tigre
singe
souris

In [2]:
for animal in animaux:
    print(animal)
    print(animal*2)
print("C'est fini")

girafe
girafegirafe
tigre
tigretigre
singe
singesinge
souris
sourissouris
C'est fini

In [8]:
for animal in animaux:
    #print(animal)
    print(animal*2)
print("C'est fini")

girafegirafe
tigretigre
singesinge
sourissouris
C'est fini

## 2. Découverte de la boucle `for`
### 2.1. Définition
> La boucle for énumère les éléments d'un ensemble et pour chaque élément, répète toujours le même code en fonction de cet élément

In [ ]:
# SYNTAXE

for var in iterable:   # itérable devant être un objet, une collection
    code1                # var étant la variable
    print()

### 2.2. Les itérables en python : le concept avancé
> Les objets itérables : **Voir synthèse diapos**

In [ ]:
iter(iterable) = iterator
    
# Il en résulte que tous les objets sur lesquels on appelle la fonction iter() sans déclencher une erreur:
    # => sont itérables sinon ils ne le sont !

        # Les objets non itérables:
- int
- float
- bool

        # Les objets itérables à savoir absolument !!!!:
- str
- list
- dict
- set

# => SYNTAXE :
for var in iterable:         # var est appelé VARIABLE D'ITERATION
    code

    # La fonction next() vs iter()

next(iterator) = objet     # retourne le prochain objet mais ne sait pas gérer les erreurs StopIteration

iter(iterable) = iterator  # retourne le prochain iterable et gère bien les StopIteration d'où son choix
                                # iterable = musée
                                # iterator = guide de musée

In [10]:
for i in [1, 2, 3]:
    print(i)

1
2
3

## 2.3. Les boucles `for` simples
> => Enumération des éléments d'un ensemble

### 1. Le principe

for objet in liste_courses :
    trouver(objet)
    mettre_dans_le_chariot(objet)
aller_payer()

=> Pour chaque objet dans ma liste de courses : 
- Je fais toujours la même chose : 
    - je le trouve puis je le mets dans le chariot **=>** C'est ça que fait ma boucle `for`. 
- Quand il n'y a plus d'objet dans ma liste de course, :
    - je vais payer.
- De plus, :
    - ce qui doit être fait en boucle doit être indenté. 
    - Et le `aller_payer` n'est pas indenté car je ne paye qu'à la fin. 
        - S'il était indenté, cela signifierait que pour chaque objet j'irais payer avant de passer à l'objet suivant... => non sens!!
        
> Pour créer une liste de nombres, on utilise la fonction `range()`:
> - **range(n)** : crée une liste de **n** nombres **allant** de `0 à n-1`

In [2]:
range(4)               # => est la suite de nombres 0 1 2 3

range(0, 4)

range(n1,n2)           # => crée une liste de nombres allant de n1 à n2-1.

In [5]:
range(3,6)             # => est la suite de nombres 3 4 5

range(3, 6)

range(n1,n2,pas) : crée une liste de nombres allant de n1 à n2-1 en sautant de pas en pas.

In [6]:
range(1,9,3)            # => est la suite de nombres 1 4 7 (de 3 en 3 en partant de 1)

range(1, 9, 3)

In [ ]:
range(3,0,-1)   # => est la suite 3 2 1 (un pas négatif permet de compter à l'envers ce qui est très pratique des fois)

### 2. Les cas d'usage

#### # Que font les algorithmes ci-dessous et quels `résultats` affichent ils?

In [ ]:
# Exemple 

for i in range(3) :
   print("Bonjour !")

In [ ]:
# Exemple 2

for i in range(5) :
   print(i)

In [16]:
# Exemple 3

somme=0
for i in range(4) :
   somme += i
print(somme)

6

**Commentaire Exemple 3 :**
- => Pour `i` allant de **0** jusqu'à **3** (c'est à dire range(4)):
    - je demande à chaque fois `somme += i` => je **rajoute** à somme la valeur `i` qui vaut **tour à tour :**
        - `0 puis` 
        - `1 puis`
        - `2 puis`
        - `3`.
    - Finalement, j'affiche le résultat qui n'est autre que **0+1+2+3** => somme(càd somme des sommes).

## 2.4. Les boucles `for` imbriquées
 => **Enchainer** les **boucles :** Nous voulons afficher tous les couples (x,y) possibles avec x et y des entiers entre 0 et 5 : 
> - Une façon de faire serait de :
    - commençer par x = 0 et énumérer tous les couples (0,y) pour y entre 0 et 5 puis 
    - faire de même pour x=1 jusqu'à x = 5. 
> - => Il faut faire en boucle sur x... une boucle sur y. Et comme tout ce qui se trouve dans une boucle doit être indenté, :
    - => il faudra donc décaler notre deuxième `for` par rapport au premier

In [17]:
# Exemple 1

for x in range(6):
    for y in range(6):
        print((x,y))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(3, 5)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(5, 0)
(5, 1)
(5, 2)
(5, 3)
(5, 4)
(5, 5)

**Exemple 2:** => faire dépendre la deuxième boucle de la variable de la première
* puisque la 2ième est imbriquée, par exemple si on veut :
 - afficher les couples (x,y) avec y<=x. 
 - on veut donc que y soit entre 0 et x ce qui donnerait le code ci-dessous :

In [ ]:
# Exemple 2 : faire dépendre la deuxième boucle de la variable de la première

for x in range(6):
    for y in range(x+1):
        print((x,y))

Dans ce cet **exemple 3 :**
- `for caractere in texte` : permet de créer une boucle en énumérant les lettres de texte.
- Par exemple si je veux afficher les chiffres d'un texte voir ci-dessous avec `if caractere in "0123456789"`:

In [ ]:
# Exemple 3

texte="Quatre bonbons à 0,25 euro chacun coûtent un euro"
for caractere in texte:
    if caractere in "0123456789":
        print(caractere)

## 2.5. Illustrations
### # Que vont afficher les programmes ci-dessous ?

In [ ]:
for k in range(3):
    print(k)

In [ ]:
for k in range(1,7,2):
    print(k)

In [ ]:
for k in range(5):
    print(k*k + k)

In [ ]:
somme = 0
for n in range(4):
    somme += n*n
print(somme)

### # Que mettre à la place des ...

In [ ]:
# pour que le programme précédent affiche 3 / 6 / 9 / 12
for k in ... :
    print(k)

In [ ]:
# pour que ce programme affiche la valeur de la somme 2*0 + 2*1 + 2*2 + 2*3 +2*4 ? 

somme = 0
for n in range(5):
    somme += ...
print(somme)

#### Exercice 1 :
On a recopié ci-dessous le programme de l'exemple précédent. Modifier ce programme pour qu'il affiche la somme des entiers de 3 à 172 c'est à dire 3 + 4 + 5 + ... + 171 + 172.

somme=0
for i in range(4):
    somme += i
print(somme)

In [5]:
import numpy as np

In [8]:
somme = 0
for i in range(3, 173):
    somme += i
    #print(somme)
print(somme)

3
7
12
18
25
33
42
52
63
75
88
102
117
133
150
168
187
207
228
250
273
297
322
348
375
403
432
462
493
525
558
592
627
663
700
738
777
817
858
900
943
987
1032
1078
1125
1173
1222
1272
1323
1375
1428
1482
1537
1593
1650
1708
1767
1827
1888
1950
2013
2077
2142
2208
2275
2343
2412
2482
2553
2625
2698
2772
2847
2923
3000
3078
3157
3237
3318
3400
3483
3567
3652
3738
3825
3913
4002
4092
4183
4275
4368
4462
4557
4653
4750
4848
4947
5047
5148
5250
5353
5457
5562
5668
5775
5883
5992
6102
6213
6325
6438
6552
6667
6783
6900
7018
7137
7257
7378
7500
7623
7747
7872
7998
8125
8253
8382
8512
8643
8775
8908
9042
9177
9313
9450
9588
9727
9867
10008
10150
10293
10437
10582
10728
10875
11023
11172
11322
11473
11625
11778
11932
12087
12243
12400
12558
12717
12877
13038
13200
13363
13527
13692
13858
14025
14193
14362
14532
14703
14875
14875

#### Exercice 2
On a recopié de nouveau ci-dessous le programme de l'exemple précédent. Modifier ce programme pour qu'il affiche la somme des carrés des entiers de 5 à 123 c'est à dire 5² + 6² + 7² + ... + 122² + 123².

somme=0
for i in range(4) :
    somme+= i
print(somme)

In [10]:
somme=0
for i in range(5, 124):
    somme+= i*i          # ou somme+= i**2
print(somme)

627844

#### Exercice 3
En s'inspirant des programmes précédents, créez un programme qui affiche, pour chaque entier entre 0 et 100, son carré. Autrement dit, il doit afficher :

0  
1  
4  
9  
16 
...
10000

In [13]:
carre = 0
for i in range(101):
    carre = i**2
    print(carre)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

## 2.6. Autres applications des boucles for
### 1. Les chaines de caractères
> Si à la place de range on met une chaine de caractères à énumérer dans une boucle for, on va tout simplement prendre chaque lettre l'une après l'autre de cette chaine de caractères.

In [1]:
for lettre in "Bonjour !":
    print(lettre)  # => Il 'affiche successivement les lettres de "Bonjour !".

B
o
n
j
o
u
r

!

#### Exemple : 
Supposons qu'on veuille compter le nombre de "e" dans un texte, nous pourrions alors écrire ceci :

In [4]:
texte = "Homme libre, toujours tu chériras la mer ! La mer est ton miroir ; tu contemples ton âme Dans le déroulement infini de sa lame, Et ton esprit n'est pas un gouffre moins amer."
compteur=0
for lettre in texte :
    if lettre == "e" :
        compteur += 1
        #print(compteur)
print(compteur)

17

Dans notre boucle, on énumère lettre après lettre de notre texte : 
- Si la lettre est "e", on rajoute 1 à notre compteur. 
- Sinon on ne fait rien

### 2. Les listes
> On peut énumérer une liste élément par élément avec une boucle for tout simplement en remplaçant range par la liste que l'on veut énumérer. Par exemple, pour afficher les éléments d'une liste :

In [5]:
liste = [ 1, "arbre", True, 2.564, "Bonjour !"]
for k in liste: 
    print(k)

1
arbre
True
2.564
Bonjour !

### 3. L'instruction break
> L'instruction break permet d'arrêter une boucle. Par exemple si on cherche quelque chose et dès qu'on l'a trouvé, on peut s'arrêter

Par exemple, supposons qu'on cherche à savoir si une chaine de caractère contient un "x" ou pas, autrement dit, dès qu'on en a trouvé un, on peut s'arrêter. On pourra le coder ainsi :

In [6]:
texte = "Ceci est un texte, tout ce qu'il y a de plus simple"
for lettre in texte : 
    print(lettre)
    if lettre == "x" :
        print("Un x a été trouvé !")
        break

C
e
c
i

e
s
t

u
n

t
e
x
Un x a été trouvé !

In [8]:
texte = "Ceci est un texte, tout ce qu'il y a de plus simple"
for lettre in texte : 
    if lettre == "x" :
        print(lettre)
        print("Un x a été trouvé !")
        break   # => Arrête la boucle dès que un X a été trouvé

x
Un x a été trouvé !

### 4. L'instruction continue
> L'instruction continue permet de sauter une étape de la boucle.

Supposons que nous voulions afficher l'inverse 1/n de nombres n dans une liste. Si n vaut 0, le calcul 1/n sera impossible, il faudra donc sauter cette étape et passer au nombre suivant. Cela donnerait :

In [9]:
liste = [-4, 2, 6, 0, 1, 3, 0, 10]
for n in liste:
    if n==0:
        continue
    print(1/n)

-0.25
0.5
0.16666666666666666
1.0
0.3333333333333333
0.1

### 5. L'instruction else
> Elle se place en fin de boucle et va de paire avec l'instruction break.

Tout ce qui est indenté après le else ne sera executé que si la boucle s'est terminée entièrement (sans utilisation de break)

In [ ]:
texte = "Ceci est une phrase, tout ce qu'il y a de plus simple"
for lettre in texte : 
    print(lettre)
    if lettre == "x" :
        print("Un x a été trouvé !")
        break
else :
    print("Pas de x trouvé !")

- Soit on trouve un "x" et donc la boucle s'arrête avec le break et donc ce qui est dans le else n'est pas exécuté. 
- Sinon on n'a pas trouvé de "x" et ce qui est dans le elsesera exécuté.

#### Exercice 1 :
Ecrire un programme qui prend en entrée une liste et renvoit en sortie s'il contient 0 ou non. Pour cela, il faut renvoyer les chaines de caractères "0 trouvé" ou "0 non trouvé".
- Entrée : Une liste de nombres nommée liste.
- Sortie : "0 trouvé" ou "0 non trouvé" selon les cas.

In [10]:
def ma_fonction(liste):
    for nombre in liste:
        if nombre == 0:
            return "0 trouvé"
    else:
        return "0 non trouvé"

In [15]:
ma_fonction([1,2,3,0,5])

'0 non trouvé'

## 2. Les bonnes pratiques pour la boucle for
> **LES CAS D'USAGE : LES BONNES PRATIQUES POUR LA BOUCLE FOR ET ...**
> - list : enumerate() , zip(), dict
> - range()
> - continue

### 2.1. Boucles `for` sur les listes avec enumerate() et zip()
> ### 1 / Cas de `list`

In [1]:
# Notation : concept du singulier (pour la variable) / pluriel (pour l'objet l'itérable)

factures = []               # Objet ou collection d'objets ici est factures (au pluriel)
for facture in factures:    # variable d'iteration ici est facture (le singulier)
    print(facture)

# Autre notation : lorsque le concept singulier / pluriel n'est pas possible

collection = []
for each in collection:
    print(each)

In [45]:
# La fonction reversed() : retourne la liste dans le sens inversé

A = ['a', 'b', 'c', 'd']

for each in reversed(A):
    print(each)

d
c
b
a

In [4]:
# Création de compteur

factures = ['Fac.1', 'Fac.2', 'Fac.3', 'Fac.4']

compteur = 0       # l'éqivalent est i
for facture in factures:
    print(compteur, facture)
    compteur += 1              # NB: cette solution marche mais alourdi le code d'où le choix de enumerate()

0 Fac.1
1 Fac.2
2 Fac.3
3 Fac.4

> ### 2 / Cas de `enumerate`

In [5]:
# LESSON : La fonction enumerate()

factures = ['Fac.1', 'Fac.2', 'Fac.3', 'Fac.4']
for facture in enumerate(factures):
    print(facture)                   # Retourne un compteur (sans qu'on l'ait défini) et une facture

(0, 'Fac.1')
(1, 'Fac.2')
(2, 'Fac.3')
(3, 'Fac.4')

In [90]:
factures = ['Fac.1', 'Fac.2', 'Fac.3', 'Fac.4']

    # Pour une meilleure lisibilité, on écrira:
    
for compteur, facture in enumerate(factures): # ou <=> for i, facture, in enumerate(factures):
     print(compteur, facture)

0 Fac.1
1 Fac.2
2 Fac.3
3 Fac.4

> ### 3 / Cas de `zip`

In [12]:
# LE PRINCIPE
symboles = ['+', '-', '*', '/']
operations = ['addition', 'soustraction', 'multiplication', 'division']

template = 'le symbole de l\'opération {op} est {sym}'

for objet in zip(symboles, operations):
    print(type(objet), objet)

<class 'tuple'> ('+', 'addition')
<class 'tuple'> ('-', 'soustraction')
<class 'tuple'> ('*', 'multiplication')
<class 'tuple'> ('/', 'division')

In [9]:
    # Plus proprement, on écrira:

symboles = ['+', '-', '*', '/', '%']
operations = ['addition', 'soustraction', 'multiplication', 'division', 'modullo']

template = 'le symbole de l\'opération {op} est {sym}'

for symbole, operation in zip(symboles, operations):
     message = template.format(op=operation, 
                               sym=symbole)
        
    print(message)

le symbole de l'opération modullo est %

In [17]:
# Plus proprement, on écrira:

symboles = ['+', '-', '*', '/', '%']
operations = ['addition', 'soustraction', 'multiplication', 'division', 'modullo']

for symbole, operation in zip(symboles, operations):
    print(symbole, operation)

+ addition
- soustraction
* multiplication
/ division
% modullo

### 2.2. Boucle `for` sur les `dictionnaires`

In [72]:
# le dictionnaire
operations = {'addition': '+',
              'soustraction': '-', 
              'multiplication': '*',
              'division': '/', 
              'modullo': '%'}
    
    # Pour boucler sur le dictionnaire et retourner cle et valeur il faut:
for operation, symbole in operations.items():
    print(operation, symbole)

print('-----------------------------------')
    
    # Ou plus simplement
for each in operations.items():
    print(each)

addition +
soustraction -
multiplication *
division /
modullo %
-----------------------------------
('addition', '+')
('soustraction', '-')
('multiplication', '*')
('division', '/')
('modullo', '%')

In [67]:
# le dictionnaire
operations = {'addition': '+',
              'soustraction': '-', 
              'multiplication': '*',
              'division': '/', 
              'modullo': '%'}

# EN RESUME:

    # Pour boucler sur les clés et les valeurs => la méthode:
for k, v in operations.items():
    print(k,v)

print('-----------------------------------')
    
    # Pour iterer sur les clés => la methode:
for k in operations.keys():
    print(k)

print('-----------------------------------')
    
    # Pour parcourir les valeurs => la méthode .value()
for v in operations.values():
    print(v)

addition +
soustraction -
multiplication *
division /
modullo %
-----------------------------------
addition
soustraction
multiplication
division
modullo
-----------------------------------
+
-
*
/
%

### 2.3. Boucle `for` sur `range()`

In [ ]:
# LESSON:
# La fonction builtin range(): a pour objectif de donner un iterable contenant des 
  # objets triés :
    
    # 1er cas d'utilisation
objet = range(5) # => BORNE DE FIN --> [0, 1, 2, 3, 4] => la borne 5 est EXCLUE
                 # Par défaut => commence toujours à 0 si début non précisé
    
    # 2ième cas d'utilisation
objet = range(2, 8)      # => (DEBUT, FIN) => la borne de fin (8) est exclue

   # 3ième cas d'utilisation
objet = range(1, 10, 2) # => (DEBUT, FIN, STEP)

> **Transformation d'objet de type range() en list**

In [19]:
# => il faut encapsuler l'objet retourné par range() dans le builtin list()

objet = range(10)      # 1 - Création de l'objet de type range qui va de 0 à 10 exclu
objet

range(0, 10)

In [21]:
objet = range(10)
liste = list(objet)    # 2 - Conversion en liste

print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
# En pratique la transformation se fait en une ligne de code

liste_nombres = list(range(0, 20))
print(liste_nombres)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

> **Nombre négatif** : Privilégier reversed()

In [80]:
# Par ordre décroissant
for i in reversed(range(2, 16)):
    print(i)

15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [81]:
# Illustration range avec step => afficher les chiffres impairs
for i in range(3, 28, 2):
    print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27

#### 1 / Itération directement sur `une liste` via range()
> => La méthode la plus efficace

In [12]:
animaux = ["girafe", "tigre", "singe", "souris"]
for animal in animaux:
    print(animal)

girafe
tigre
singe
souris

**2 / Itération directement sur `une tranche` d'une liste via range()**

In [9]:
# Itération sur une tranche

animaux = ["girafe", "tigre", "singe", "souris"]
for animal in animaux[1:3]:
    print(animal)

tigre
singe

**3 / Itération sur les `indices` d'une liste via range()**
> La variable i prendra les valeurs successives 0, 1, 2 et 3 et on accèdera à chaque élément de la liste animaux par son indice (i.e. animaux[i])

In [15]:
animaux = ["girafe", "tigre", "singe", "souris"]
for i in range(4):
    print(animaux[i])

girafe
tigre
singe
souris

In [24]:
animaux = ["girafe", "tigre", "singe", "souris"]
for i in range(len(animaux)):        # len(animaux) : syntaxe générale pr obtenir la longueur la liste
    print(f"L'animal {i} est un(e) {animaux[i]}")

L'animal 0 est un(e) girafe
L'animal 1 est un(e) tigre
L'animal 2 est un(e) singe
L'animal 3 est un(e) souris

**4 / Itération sur les `éléments` et les `indices` d'une liste via range()**

In [25]:
animaux = ["girafe", "tigre", "singe", "souris"]
for i, animal in enumerate(animaux):
    print(f"L'animal {i} est un(e) {animaux[i]}")

L'animal 0 est un(e) girafe
L'animal 1 est un(e) tigre
L'animal 2 est un(e) singe
L'animal 3 est un(e) souris

### Exercice 4   ||   Solution
Ecrire un programme en langage Python qui affiche les 100 premiers nombres entiers

In [ ]:
# Il s'agit de parcourir les cents premiers nombres à l'aide de la boucle for dans range
for i in range(100):
    print(i)

### Exercice 8 ||  Solution
Ecrire un programme en Python qui demande à l'utilisateur de saisir un nombre entier n et de lui afficher la valeur de la somme 1 + 2 + … + n =

In [ ]:
# 1/ Demander à l'utilisateur d'écrire le nombre entier n
n = int(input('Vous avez saisi un nombre n = '))

# 2/ Définir et initialiser une variable auxilliaire j
j = 0
for i in range(n +1):
    j = j + i
print("La somme  1 + 2 + 3 + ...+ ",n," = ", j)

### Exercice 9.
Écrire un programme en Python qui demande à l'utilisateur de saisir un nombre entier n et de lui afficher n !

In [ ]:
# 1/ Demander à l'utilisateur de saisir un nombre entier
n = int(input('veuillez saisir un nombre entier n = '))

# 2/ Définir et initialiser une variable auxilliaire
j = 1 
for i in range (1, n+1):
    j = j*i
    
print("Factorielle de n est : ",n,"! = : ", j)

### Exercice 11 || Solution
Ecrire un programme en Python qui demande à l’utilisateur de saisir un nombre entier n et de lui afficher tous les diviseurs de ce nombre.

In [ ]:
# 1/ Demander à l'utilisateur de saisir un nombre entier n
n = int(input('Veuillez saisir un nombre entier n: '))

# 2/ Parcourir ts les nb entiers i inferieur ou égale à n
for i in range(1, n + 1):
    print(i)

In [ ]:
# 1/ Demander à l'utilisateur de saisir un nombre entier n
n = int(input('Veuillez saisir un nombre entier n: '))

# 2/ Parcourir ts les nb entiers i inferieur ou égale à n
for i in range(1, n + 1):
        # Tester si (chaque) i est un diviseur de n => n modullo i est égale 0?
    
    if n % i == 0:
        # Afficher tous les i diviseurs de n
        
        print("Le nombre ",i," est un diviseur de  ", n)

### Exercice 12  ||  Solution
1) - Ecrire un programme en Python qui demande à l’utilisateur de saisir un nombre entier n et de lui afficher la table de multiplication de ce nombre.

2) - Améliorez le programme afin qu’il affiche les tables de multiplications de tous les nombres compris entre 1 et 9

In [ ]:
# 1/ Demander à l'utilisateur de saisir un nombre entier n
n = int(input('Veuillez saisir un nombre entier n : '))

    # Faire l'opération de multiplication à l'aide de la boucle for et range
print('la table de multiplication de', n, 'est :')

for i in range(1, 13):
    table = n*i

    print(n, 'x', i, '=', table)

In [ ]:
# 2/ Pour afficher les tables de multiplication de tous les nombres compris entre 1 et 9
    # => Il faut deux boucles imbriquées
for n in range(1, 10):
    print('---------------------------------')
    print('la table de multiplication de', n, 'est :')
   
    for i in range(1, 13):
        table = n*i
        print(n, 'x', i, '=', table)

### Exercice 16  ||  Solution
Ecrire un programme en langage Python qui permet de parcourir et afficher les caractères d’une variable du type chaine de caractères. Exemple pour s = « Python » , le programme affiche les caractères :
> P
> y
> t
> h
> o
> n

In [ ]:
# 1/ => Demander à l'utilisateur de saisir une chaine de caractères
s = input('veuillez saisir un mot ')

# 2/ Définir la longueur du mot à saisir
n = len(s)

# 3/ Déterminer l'expression permettant de parcourir le mot
for i in range(0, len(s)):
    print(s[i])

In [ ]:
# 1/ => Demander à l'utilisateur de saisir une chaine de caractères
s = input('veuillez saisir un mot ')

# 2/ Parcourir ...
for i in s:
    print(i)

### Exercice 18  ||  Solution
Ecrire un programme en Python qui demande à l’utilisateur de saisir une chaine de caractère s et de lui renvoyer un message indiquant si la chaine contient la lettre 'a' tout en indiquant sa position sur la chaine. Exemple si l’utilisateur tape la chaine s = ‘langage’ le programme lui renvoie : La lettre 'a' se trouve à la position : 1 La lettre 'a' se trouve à la position : 4

In [ ]:
# 1/ Demander à l'utilisateur de saisir une chaine de caractères
s = input('veuilez saisir un mot ')

# 2/ Obtenir la longueur de la chaine s
n = len(s)

# 3/ Parcourir la chaine < s > tout en cherchant le caractère 'a'
for i in range(0, n):
    if s[i] == 'a':   # Tester si le caractère rencontré est égale à 'a'
        print('la lettre a se trouve à la position', i, 'dans la chaine s')

### Exercice 19  ||  Solution
Ecrire un programme en Python qui permet de lister les chaines qui composent la liste l = ["laptop", "iphone", "tablet"] tout en indiquant la longueur de chaque chaine.

In [1]:
# 1/ Soit l la liste de chaines de caractères
l = ["laptop", "iphone", "tablet"]

# 2/ Obtenir la longueur de la liste
n = len(l)

# 3/ Parcourir les éléments de la liste
for i in range(0, n):
    contenu = l[i]                # Identifier le contenu de la liste par leur index
    print(contenu, 'est dans la liste l', 'et il contient', len(contenu), 'caractères')

laptop est dans la liste l et il contient 6 caractères
iphone est dans la liste l et il contient 6 caractères
tablet est dans la liste l et il contient 6 caractères

In [2]:
# 1/ Soit l la liste de chaines de caractères
l = ["laptop", "iphone", "tablet", "printer", "Ipad"]

# 2/ Parcourir les éléments de la liste  l
for x in l:
    print(x, " is in list l, its length is: ", len(x))

laptop  is in list l, its length is:  6
iphone  is in list l, its length is:  6
tablet  is in list l, its length is:  6
printer  is in list l, its length is:  7
Ipad  is in list l, its length is:  4

In [ ]:
# EN RESUME:

    # Si début != 0 --> On utilise range(debut, fin)
    # Si debut  = 0 --> On utilise range(fin)
    
    # Quel est le dernier nombre que je veux dans ma liste ou quel doit être la valeur 
       # de ma fin? => fin = dernier nombre que je veux + 1 
    
    # Quelle transformation je veux appliquer?
        # nombre négatif ? => dans la boucle ecrire :
for i in range():  # nombre croissant positif dans le range
    i = -i      # revoir tuto
    print(i)
    
        # nombre décroissant?
# reversed

        # Sauter un nombre?
# range avec step range(debut, fin, step)

### 2.4. Boucle `for` avec `continue`

## 3. Exercices d'application

### Exercice 1 - Factoriser son code avec des boucles For
> - Recopier le code puis exécuter le pour constater ce qu'il affiche. Puis remplacer le code par une boucle for qui obtient exactement le même résultat.
> - Ensuite rajouter des éléments à notre liste pour bien vérifier que le bout de code s'adapte à la taille de la liste.

In [ ]:
collection = ["A", 'B', 'C']

index = 0
each = collection[index]
print(each.lower())

index = index + 1
each = collection[index]
print(each.lower())

index = index + 1
each = collection[index]
print(each.lower())

In [4]:
collection = ["A", 'B', 'C']

index = 0
each = collection[index]
print(each.lower())

a

In [18]:
collection = ["A", 'B', 'C', 'e', "Z"]

for each in collection:
    print(index.lower())

a
b
c
e
z

In [20]:
collection = ["A", 'B', 'C']

index = index + '1'        # D'où l'utilisation de la boucle for
each = collection[index]
print(each.lower())

TypeError: list indices must be integers or slices, not str

### Exercice 2 - Bien choisir ses noms de variables
> - Que va afficher le code ci-dessous? Décrivez en une phrase simple ce que fait ce bout de code.
> - Ensuite recopiez-le puis exécutez-le pour vérifier votre réponse.
> - Après, renommez les variables pour leur donner un nom explicite en suivant la nomenclature ci-dessous.

    liste -> nombres_pairs
    each -> nombre_pair
    result -> carré
    Est-il plus facile de décrire ce que fait le code en une phrase après avoir renommer les variables?

In [ ]:
liste = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

for each in liste:
    result = each ** 2
    print(result)

In [23]:
liste = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

for each in liste:
    result = each ** 2
    print(result)

0
4
16
36
64
100
144
196
256
324
400
484
576
676
784

In [28]:
nombres_pairs = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

for nombre_pair in nombres_pairs:
    carré = nombre_pair ** 2
    print(carré)

784
0
4
16
36
64
100
144
196
256
324
400
484
576
676

### Exercice 3 - Utilisez enumerate() plutôt que de créer des compteurs
> Que va afficher le code ci-dessous? Que fait-il?

Recopiez ce code puis exécutez-le pour vérifier votre réponse.

Puis raccourcissez ce bout de code en utilisant la fonction built-in enumerate().

In [ ]:
multiples_de_trois = list(range(0, 100, 3))
i = 0
for each in multiples_de_trois:
    # Ci-dessous, {i + 1} car i commence à zéro et on veut compter à partir de 1
    print(f'Le multiple de trois n°{i + 1} est {each}.' )  
    i = i + 1

In [29]:
multiples_de_trois = list(range(0, 100, 3))
i = 0
for each in multiples_de_trois:
    # Ci-dessous, {i + 1} car i commence à zéro et on veut compter à partir de 1
    print(f'Le multiple de trois n°{i + 1} est {each}.' )  
    i = i + 1

Le multiple de trois n°1 est 0.
Le multiple de trois n°2 est 3.
Le multiple de trois n°3 est 6.
Le multiple de trois n°4 est 9.
Le multiple de trois n°5 est 12.
Le multiple de trois n°6 est 15.
Le multiple de trois n°7 est 18.
Le multiple de trois n°8 est 21.
Le multiple de trois n°9 est 24.
Le multiple de trois n°10 est 27.
Le multiple de trois n°11 est 30.
Le multiple de trois n°12 est 33.
Le multiple de trois n°13 est 36.
Le multiple de trois n°14 est 39.
Le multiple de trois n°15 est 42.
Le multiple de trois n°16 est 45.
Le multiple de trois n°17 est 48.
Le multiple de trois n°18 est 51.
Le multiple de trois n°19 est 54.
Le multiple de trois n°20 est 57.
Le multiple de trois n°21 est 60.
Le multiple de trois n°22 est 63.
Le multiple de trois n°23 est 66.
Le multiple de trois n°24 est 69.
Le multiple de trois n°25 est 72.
Le multiple de trois n°26 est 75.
Le multiple de trois n°27 est 78.
Le multiple de trois n°28 est 81.
Le multiple de trois n°29 est 84.
Le multiple de trois n°30 est 87.
Le multiple de trois n°31 est 90.
Le multiple de trois n°32 est 93.
Le multiple de trois n°33 est 96.
Le multiple de trois n°34 est 99.

In [31]:
multiples_de_trois = list(range(0, 100, 3))

for i, each in enumerate(multiples_de_trois):
    # Ci-dessous, {i + 1} car i commence à zéro et on veut compter à partir de 1
    print(f'Le multiple de trois n°{i + 1} est {each}.' )

Le multiple de trois n°1 est 0.
Le multiple de trois n°2 est 3.
Le multiple de trois n°3 est 6.
Le multiple de trois n°4 est 9.
Le multiple de trois n°5 est 12.
Le multiple de trois n°6 est 15.
Le multiple de trois n°7 est 18.
Le multiple de trois n°8 est 21.
Le multiple de trois n°9 est 24.
Le multiple de trois n°10 est 27.
Le multiple de trois n°11 est 30.
Le multiple de trois n°12 est 33.
Le multiple de trois n°13 est 36.
Le multiple de trois n°14 est 39.
Le multiple de trois n°15 est 42.
Le multiple de trois n°16 est 45.
Le multiple de trois n°17 est 48.
Le multiple de trois n°18 est 51.
Le multiple de trois n°19 est 54.
Le multiple de trois n°20 est 57.
Le multiple de trois n°21 est 60.
Le multiple de trois n°22 est 63.
Le multiple de trois n°23 est 66.
Le multiple de trois n°24 est 69.
Le multiple de trois n°25 est 72.
Le multiple de trois n°26 est 75.
Le multiple de trois n°27 est 78.
Le multiple de trois n°28 est 81.
Le multiple de trois n°29 est 84.
Le multiple de trois n°30 est 87.
Le multiple de trois n°31 est 90.
Le multiple de trois n°32 est 93.
Le multiple de trois n°33 est 96.
Le multiple de trois n°34 est 99.

### Exercice 4 - Utilisez zip() pour itérer en parallèle sur deux listes distinctes.
> Que va afficher le code ci-dessous? 

Que fait-il?

Recopiez ce code puis exécutez-le pour vérifier votre réponse.

Puis raccourcissez la deuxième boucle en utilisant la fonction built-in zip().

Trouvez-vous le code plus facile à lire après avoir fait la modification?

In [ ]:
nombres = list(range(1, 20))
racines_carrées = []
# Cette boucle nous permet de créer une liste des racines carrés des nombre de 1 à 19
for nombre in nombres:
    racine = nombre ** 0.5
    racines_carrées.append(racine)
    
# Remplacez la deuxième boucle par une plus succinte en utilisant zip(...)
for i in range(len(racines_carrées)):
    nombre = nombres[i]
    racine = racines_carrées[i]
    print(f'La racine carrée du nombre {nombre} est {racine}.')

In [36]:
nombres = list(range(1, 20))
racines_carrées = []

for nombre in nombres:
    racine = nombre ** 0.5
    racines_carrées.append(racine)

for i in range(len(racines_carrées)):
    nombre = nombres[i]
    racine = racines_carrées[i]
    print(f'La racine carrée du nombre {nombre} est {racine}.')

La racine carrée du nombre 1 est 1.0.
La racine carrée du nombre 2 est 1.4142135623730951.
La racine carrée du nombre 3 est 1.7320508075688772.
La racine carrée du nombre 4 est 2.0.
La racine carrée du nombre 5 est 2.23606797749979.
La racine carrée du nombre 6 est 2.449489742783178.
La racine carrée du nombre 7 est 2.6457513110645907.
La racine carrée du nombre 8 est 2.8284271247461903.
La racine carrée du nombre 9 est 3.0.
La racine carrée du nombre 10 est 3.1622776601683795.
La racine carrée du nombre 11 est 3.3166247903554.
La racine carrée du nombre 12 est 3.4641016151377544.
La racine carrée du nombre 13 est 3.605551275463989.
La racine carrée du nombre 14 est 3.7416573867739413.
La racine carrée du nombre 15 est 3.872983346207417.
La racine carrée du nombre 16 est 4.0.
La racine carrée du nombre 17 est 4.123105625617661.
La racine carrée du nombre 18 est 4.242640687119285.
La racine carrée du nombre 19 est 4.358898943540674.

In [43]:
nombres = list(range(1, 20))
racines_carrées = []

for nombre in nombres:
    racine = nombre ** 0.5
    racines_carrées.append(racine)

for nombre, racine in zip(nombres, racines_carrées):
    print(f'La racine carrée du nombre {nombre} est {racine}.')

La racine carrée du nombre 1 est 1.0.
La racine carrée du nombre 2 est 1.4142135623730951.
La racine carrée du nombre 3 est 1.7320508075688772.
La racine carrée du nombre 4 est 2.0.
La racine carrée du nombre 5 est 2.23606797749979.
La racine carrée du nombre 6 est 2.449489742783178.
La racine carrée du nombre 7 est 2.6457513110645907.
La racine carrée du nombre 8 est 2.8284271247461903.
La racine carrée du nombre 9 est 3.0.
La racine carrée du nombre 10 est 3.1622776601683795.
La racine carrée du nombre 11 est 3.3166247903554.
La racine carrée du nombre 12 est 3.4641016151377544.
La racine carrée du nombre 13 est 3.605551275463989.
La racine carrée du nombre 14 est 3.7416573867739413.
La racine carrée du nombre 15 est 3.872983346207417.
La racine carrée du nombre 16 est 4.0.
La racine carrée du nombre 17 est 4.123105625617661.
La racine carrée du nombre 18 est 4.242640687119285.
La racine carrée du nombre 19 est 4.358898943540674.

### Exercice 5 - Utilisez reversed() pour inverser l'ordre de lecture d'une liste.
> Que va afficher le code ci-dessous?

Modifier la boucle pour obtenir le même résultat mais en utilisant le built-in reversed(..).

Trouvez-vous que le code se lit plus facilement après modification?

Pour votre culture générale: En programmation il est courant d'utiliser `i` comme nom de la variable d'index. Et si on a besoin d'un second index au même moment, on va lui donner le nom d'une lettre après `i`.. Donc `j` puis `k` et ainsi de suite.

In [ ]:
# Afficher les nombres de 1 à 30 en ordre décroissant (commencer par 30)
un_à_trente = list(range(0, 30+1))
for i in range(len(un_à_trente)):
    j = -(i + 1)  # Ici on transforme un index positif en index négatif pour commencer par la fin de la liste
    print(un_à_trente[j])

In [45]:
# Afficher les nombres de 1 à 30 en ordre décroissant (commencer par 30)
un_à_trente = list(range(0, 30+1))
for i in range(len(un_à_trente)):
    j = -(i + 1)  # Ici on transforme un index positif en index négatif pour commencer par la fin de la liste
    print(un_à_trente[j])

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [51]:
# Afficher les nombres de 1 à 30 en ordre décroissant (commencer par 30)

un_à_trente = list(range(0, 30+1))
for nombre in reversed(un_à_trente):
   
    print(nombre)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

### Exercice 6 - Utilisez .items() pour itérer sur les éléments d'un dict.
> Que va afficher le code ci-dessous? 

Bien que cette manière d'itérer sur les clefs et les valeurs d'un dictionnaire soit tout à fait valable, modifiez la boucle pour utiliser la méthode de dictionnaires .items() et parvenir au même résultat.

In [ ]:
menu = {'Poisson':100,
        'Végé'   : 40,
        'Pizza'  : 70,}

for plat in menu:
    prix = menu[plat]
    print(f'Le cout du plat {plat} est {prix}€')

In [52]:
menu = {'Poisson':100,
        'Végé'   : 40,
        'Pizza'  : 70,}

for plat in menu:
    prix = menu[plat]
    print(f'Le cout du plat {plat} est {prix}€')

Le cout du plat Poisson est 100€
Le cout du plat Végé est 40€
Le cout du plat Pizza est 70€

In [53]:
menu = {'Poisson':100,
        'Végé'   : 40,
        'Pizza'  : 70,}

for plat, prix in menu.items():
    print(f'Le cout du plat {plat} est {prix}€')

Le cout du plat Poisson est 100€
Le cout du plat Végé est 40€
Le cout du plat Pizza est 70€

### Exercice 7 - Utilisez `continue` pour ignorer des cas dans une boucle FOR
> Je voulais écrire un script qui me permet d'afficher le nom de tous les fichiers .mp3 que j'ai dans mes_fichiers. Pouvez-vous m'aider et corriger le bout de code s'il vous plaît? (Si possible)

In [ ]:
# rechercher tous les fichiers .mp3
mes_fichiers = ['musique_rock.mp3', 'fast_and_furious_18.MP4',
                'twilight_4_le_retour.MP4', 'game_of_thrones_S1E1.mp4',
                'musique_zumba.MP3', 'musique_techno.mp3',
                'avengers_5.mp4', 'podcast_cool.MP3']

for fichier in mes_fichiers:
    ext = fichier.split('.')[-1]
    if ext != '.MP3':
        continue
    print(fichier)

In [ ]:
NB: A refaire => voir correction sur page exo

### Exercice 8 - We need to go deeper, les boucles FOR imbriquées.
Souvenez-vous de l'époque fastidieuses où l'on devait apprendre les tables de multiplications?

Cette époque est révolue.

Le bout de code ci-dessous permet d'afficher toutes les tables de multiplications que l'on souhaite.

Prenez le temps de recopier ce bout de code et d'étudier son fonctionnement.

Puis essayez d'apporter les modifications permettant de répondre aux requêtes suivantes.

    1) Affichez les tables de multiplications de 11 à 20 plutôt que celles de 1 à 10.
    2) Affichez des tables plus grandes qui vont de 0 à 19 plutôt que de 0 à 10.
    3) Affichez le nombre dont c'est la table en deuxième plutôt qu'en premier. (Exemple: dans la table de 3, affichez "10 x 3" plutôt que "3 x 10")

In [ ]:
for i in range(1, 10+1):
    print(f'Table de multiplication de {i}')
    for j in range(10+1):
        print(f'{i} x {j} = {i * j}')
    print('\n')

# Coding game